
#roll_url p {
    font-size:11px;
    padding-left: 200px;
    width:400px;
    font-family: Arial;
}
lable{
    font-size:11px;
    font-family: Arial;
}
.title{
    font-weight: bold;
    font-size: 13px;
}
table {
    margin: 0em 0;
    width: 100%;
}
.form-item{
    width:900px;
    float:left;
}
.form-item label{
width:200px;
float:left;
}
.form-table th{
   width:200px;
   padding:0px;
}
.form-radios lable{
  width:200px;
float:right;
}

#file_path
{
   border-top: 1px solid #CCC;
   padding: 10px 0px;
   margin-top: 20px;
}
#upload_url th{
    border:none;
    width:168px;
   padding:0px;
}
#upload_url table td{
   padding:0px;
}
#upload_url {
 border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}

#upload_url table{
    border:none;
}
#upload_url tbody {
    border:none;
}
#edit-submit{
    clear:both;
    width:100px;
    float:left;
}
#roll_url{
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  padding-top: 15px;
}
#roll_url lable{
     display: block;
    font-weight: bold;
    font-size: 13px;
    float: left;
    width: 200px;
}
#edit-published-1-wrapper{
    width:100px;
}
#edit-published-0-wrapper{
    width:100px;
}
.clear{
    clear: both;
}

#uploadff{
	margin:10px 0px; padding:6px;
	font-weight:bold; font-size:1.3em;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;	
	color:#3366cc;
        width:200px;
	border:1px solid #ccc;
        cursor: pointer !important;
	-moz-border-radius:5px; -webkit-border-radius:5px;
}

#status{
	font-family:Arial; padding:0px;
}
#upload_file{
    padding-left: 30px;
    padding-top: 70px;
}
ul#files li{ padding:0px;padding-top: 5px; width: 570px;height:30px; float:left;}
ul#files li span{ background:url(../images/success.gif) no-repeat;  max-width:180px; max-height:50px; }
.success{ background:#99f099; border:1px solid #339933; }
.error{ background:#f0c6c3; border:1px solid #cc6622; }
