.tipsy {margin:-5px 0 0 0; position: absolute;  font-size: 10px;  opacity: 1.; filter: alpha(opacity=80);
        background-repeat: no-repeat;  background-image: url(../images/tipsy.png); width:243px; height:145px; }
.tipsy-inner { margin:5px 0 0 0;  color: white; width:243px; height:145px; }
.tipsy-inner { -moz-border-radius:3px; -webkit-border-radius:3px; }
.tipsy-north { background-position: top center; }
.tipsy-south { background-position: bottom center; }
.tipsy-east { background-position: right center; }
.tipsy-west { background-position: left center; }

#tool{
    padding: 10px;
}
#toolTittle{
    margin: 0 15px 0 20px;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    font-family:verdana;
}
#toolCategory{
    margin: 0 15px 0 20px;
    font-size: 12px;
    text-align: left;
    padding: 3px 0px;
}
#toolCategory b{
    color:#EBC438;
}
#toolDesc{
    margin: 0 15px 0 20px;
    font-size: 10px;
    text-align: left;
}
#toolDesc b{
    font-size: 12px;
    color: #EBC438;
}
